.box{
    background-color: aquamarine;
    box-sizing: border-box;
    padding: 20px;
    margin: 40px;
    border: black dashed 5px;
    border-radius: 125px;
}

h2{
    font-size: 60px;
    margin: 0px;
    color: rgb(0, 0, 0);
    background-color: #FA8072;
    border: black solid 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    text-align: center;
    text-decoration: underline;
}
p{
    font-size: 20px;
    margin-left: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}